FACEBOOK_ID=1020635302051487
FACEBOOK_SECRET=52291aa2e50d79a00d14b2698fa2c917
FACEBOOK_CALLBACK=http://localhost:3000/auth/facebook/callback
SESSION_SECRET=ThisIsMySecret
MONGODB_URI=mongodb://localhost/expense-tracker
PORT=3000